*{
    box-sizing: border-box;
}

#contenedor{
    background-color: white;
    height: 1200px;
    width: 900px;
    justify-items: center;
}

nav{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    flex: 650px;
    flex-direction: column;
}

ul{
    list-style: none;
    text-align: center;
}

li{
    display: inline;
    font-size: 20px;
    padding: 20px 30px;
    margin: 1em;
}

li a{
    text-decoration: none;
    color: black;
}

li a:hover{
    color: red;
}

#encabezado{
    height: 40px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: #BADA55;
    background-color: #b58a69;
    text-align: center;
}

section{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dee5de;
    display: inline-table;
}

#imgSection{
    margin-left: 50px;
    margin-top: 50px;
    width: 340px;
    height: 300px;
    float: left;
}

#texto1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    columns: #000;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
}

#texto2{
    font-size: 20px;
    text-align: justify;
    margin-right: 15px;
}

button{
    margin-left: 100px;
    margin-bottom: 30px;
    float: left;
    color: white;
    background-color: #5e5e4a;
}

aside{
    background-color: #d7d7cb;
    
}

#textoAside{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: #000000;
    margin-top: 10px;
    text-align: center;
}

.imgAside{
    width: 250px;
    height: 150px;
    display: inline;
    justify-items: center;
    margin: 5px;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #e8e6e6;
    background-color: #5e5e4a;
    text-align: center;
    height: 25px;
}

